---
layout: default
title: Blog Posts
---

<div id="home">
  <h2><i class="icon-bookmark"></i> Quotes</h2>
  <ol>
  	<li>&#147;You create your luck by being healthy and not regretting the past or being anxious about the future&#148;&nbsp;&#151; <a href="http://techcrunch.com/2013/08/24/the-ultimate-cheat-sheet-for-starting-and-running-your-business/">James Altucher</a></li>
  	<li>&#147;Wild animals are beautiful because they have hard lives&#148;&nbsp;&#151; <a href="http://www.paulgraham.com/taste.html">Paul Graham</a></li>
  </ol>

  <h2><i class="icon-bookmark"></i> Blog Posts</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
	{% if post.draft == null %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>