<nav>
  <h1>Hi,</h1>
  <a href="/">
<!--     <img src="/logo.png" id="logo" alt="Blog logo"/> -->
    <img src="//2.gravatar.com/avatar/637a92c02ed1605df97e8c16cbfaad7e?&r=x&s=240" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>28 y/o hacker with extensive interest in high load software, big data, deep app integration and SaaS solutions.</p>
  <p>Currently casting spells at <a href="http://ebay.nl/">eBay</a>.</p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>